@font-face {
  font-family: 'RedHatMonospace';
  src: url(/fonts/RedHatMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Arvo';
  src: url(/fonts/Arvo-Regular.ttf) format('truetype');
}
