:root {
  --c-waiting: cyan;
  --c-success: green;
  --c-failure: red;
}

.test {
  &-suite {
    font-size: 2rem;
    padding: 0.3125rem;
    padding-left: 2.5rem;
    position: relative;

    &::before {
      content: '⌚';
      font-size: 1.7rem;
      position: absolute;
      left: 0;
      color: var(--c-waiting);
    }

    &-header {
      cursor: pointer;
      user-select: none;
    }

    &-closed {
      .test-unit {
        display: none;
      }
    }

    &-passed {
      &::before {
        content: '✅';
      }
    }

    &-failed {
      &::before {
        content: '❌';
      }
    }
  }

  &-unit {

    padding-left: 1rem;
    font-size: 1.3rem;
    color: var(--c-waiting);

    &-passed {
      color: var(--c-success);
    }

    &-failed {
      color: var(--c-failure);
    }
  }

  &-total-result {
    font-size: 3rem;
    padding: 2rem;
  }
}
